img {
    width: 28px;
    /* left: 8px; */
    top: 53%;
    transform: translateY(-50%);
    position: absolute;
    transition: 0.3s ease all;
}
input {
    width: 0px;
    height: 0px;
    background-color: #000;
    box-shadow: none;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
    padding-left: 43px;
    font-size: 16px;
    transition: 0.3s ease all;
}
input.toggle {
    width: 300px;
    height: 40px;
    border-color: #fff;
}