<div class="menu">
  <div class="left d-flex align-items-center">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <img src="/assets/images/logo.png" alt="" />
    </a>
    <div *ngIf="isUserMember" class="netflix-nav">
      <section>
        <button *ngFor="let category of moviesCategories | keyvalue" class="netflix-nav-item"
          [routerLink]="['/movies/search']" [queryParams]="{ category: category.key }" routerLinkActive="active">
          {{ category.value }}
        </button>
        <button>My List</button>
      </section>
    </div>
    <div *ngIf="isUserMember" class="netflix-dropdown-box dropdown">
      <button class="netflix-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Browse
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">TV Shows</a></li>
        <li><a class="dropdown-item" href="#">Movies</a></li>
        <li><a class="dropdown-item" href="#">News & Popular</a></li>
        <li><a class="dropdown-item" href="#">My List</a></li>
      </ul>
    </div>
  </div>
  <div *ngIf="isUserAuthenticated" class="right d-flex align-items-center">
    <!-- <i class="fa-solid fa-magnifying-glass"
      style="cursor: pointer; font-size: 20px; color: #fff; padding: 5px 20px"></i> -->
    <app-search-component *ngIf="isUserMember"></app-search-component>
    <i *ngIf="isUserMember" class="fa-solid fa-bell" style="cursor: pointer; font-size: 20px; color: #fff; padding: 5px 20px"></i>
    <div class="dropdown">
      <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button> -->
      <img class="netflix-profile dropdown-toggle" src="{{ userAvatar }}" alt="avatar" data-bs-toggle="dropdown"
        aria-expanded="false" />
      <ul class="dropdown-menu">
        <li>
          <a *ngIf="isUserAuthenticated" (click)="logout()" class="dropdown-item">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <button *ngIf="!isUserAuthenticated" class="login-button" (click)="login()">
    Sign In
  </button>
</div>
<div *ngIf="isInMoviesPage">
  <section class="netflix-home-video">
    <div class="top"></div>
    <div class="bottom"></div>
    <video src="/assets/video/maskgirl.mp4" autoplay muted loop></video>
    <div class="content">
      <section class="left">
        <img src="/assets/images/maskgirl.png" alt="" />

        <div class="d-flex mt-2">
          <button class="btn btn-light m-2">
            <i class="fa-solid fa-play" style="color: black; padding: 0%"></i>
            Play Now
          </button>
          <button class="btn btn-secondary m-2">
            <i class="fa-solid fa-circle-info" style="padding: 0%"></i>
            More Info
          </button>
        </div>
      </section>
    </div>
  </section>
</div>