img{
    width: 150px;
    margin-left: 100px;
}

.login-button{
    margin-right: 200px;
    background-color: #e50a15;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 8px 18px;
}
