.search-result {
    background-color: #fff;
    position: absolute;
    height: 550px;
    overflow: auto;
}

.search-result div:hover {
    background-color: #f1f1f1
}
.truncate-3-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 10px;
    text-align: justify;
    -webkit-line-clamp: 3;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card{
    border: none !important;
}