.card{
    margin: 3px;
    width: 250px;
}

.card:hover {
    transform: scaleX(1.4) scaleY(1.4);
    z-index: 10;
}

.section-title {
    text-align: left;
    font-size: larger;
    margin-left: 30px;
}

.card::before {
    position: absolute;
    top: 2.5rem;
    right: -0.5rem;
    z-index: -1;
    content: '';
    background: #283593;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

.card::after {
    position: absolute;
    content: attr(data-label);
    top: 11px;
    /* width: 10rem; */
    right: -14px;
    padding: 0.5rem;
    background: #3949ab;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}