.card {
    width: 250px;
    background-color: #141414;
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
}


.card:hover {
    transform: scaleX(1.4) scaleY(1.4);
    z-index: 10;
}


.card-body {
    display: none;
    /* height: 0px; */
    padding: 10px 5px;
    position: absolute;
    background-color: #141414;
    top: 120px;
    width: 100%;
}


.card-icon {
    color: #fff;
    padding: 0px !important;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.card:hover>.card-body {
    display: block;
    /* height: max-content !important; */
}

.netflix-card-text{
    font-size: 12px ;
}

.movie-toolbar i{
    color: #fff;
}

.truncate-3-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 10px;
    text-align: justify;
    -webkit-line-clamp: 4; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    white-space: normal;
}

.section-title{
    text-align: left;
    font-size: larger;
    margin-left: 30px;
}