.row {
    max-height: 100%;
    /* Set a maximum height for the inner container */
    overflow-y: auto;
    /* Enable vertical scroll */
}

.title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
}

.card:hover {
    transform: scaleX(1.2) scaleY(1.2);
    z-index: 10;
}