/* You can add global styles to this file, and also import other style files */
:root {
    --appmenu-height: 70px;
}

app-menu {
    height: var(--appmenu-height);
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

app-movie {
    position: absolute;
    top: 650px;
    width: 100%;
    z-index: 999;
}

app-get-pricing-plan {
    animation: form ease-in-out 0.6s;
    height: 100vh;
}

app-checkout {
    width: 30%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.bg-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.416)), url(/assets/images/homebg.jpg);
    height: 100vh;
}

.centered-container {
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--appmenu-height));
    /* Adjusted height */
    margin-top: var(--appmenu-height);
    /* Margin for AppMenu */
}

app-home {
    color: #fff;
}

app-movie-player {
    width: 100%;
    background-color: black;
    height: 100%;
}

app-movie-player .slider {
    margin-top: var(--appmenu-height);
}

app-movie-search-result {
    width: 100%;
    background-color: black;
    height: 100vh;
    padding-top: var(--appmenu-height);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

app-movie .card,
app-movie-search-result .card {
    background-color: #141414;
    border-radius: 4px;
    transition: 0.2s linear;
    position: relative;
    box-shadow: 4px 4px 15px rgba(#000, 0.15);
}

app-movie-search-result .card-body,
app-movie .card-body {
    display: none;
    height: 65%;
    padding: 10px 5px;
    position: absolute;
    background-color: #141414;
    top: 120px;
    width: 100%;
}


app-movie-search-result .card-icon,
app-movie-search-result .card-icon {
    color: #fff;
    padding: 0px !important;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}

app-movie .card:hover .card-body,
app-movie-search-result .card:hover .card-body {
    display: block;
    /* height: max-content !important; */
}

.netflix-card-text {
    font-size: 12px;
}

.movie-toolbar i {
    color: #fff;
}

.truncate-3-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 10px;
    text-align: justify;
    -webkit-line-clamp: 10;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    white-space: normal;
}

app-search-component {
    padding: 5px 20px;
    cursor: pointer;
    display: inline-block;
}